math-field::part(virtual-keyboard-toggle) {
    display: none;
}

math-field::part(menu-toggle) {
    display: none;
}

math-field {
    display: block;
    font-size: 1.6em;
    min-height: 7vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#static-math-field {
    padding-bottom: 1.05vh;
}

#dynamic-math-field {
    width: 200px;
}